package ${package}

import net.minecraft.world.item.ItemStack
import net.minecraft.world.item.Items
import net.minecraft.core.RegistryAccess
import work.lclpnet.ap2.ApConstants
import work.lclpnet.ap2.api.game.*

class ${class_name} : MiniGame {
    override fun canBeFinale(context: GameStartContext) = ${can_be_finale}
    override fun canBePlayed(context: GameStartContext) = true
    override fun getId() = ApConstants.identifier("${game_id}")
    override fun getType() = GameType.${game_type}
    override fun getAuthor() = ApConstants.${author_const}
    override fun getIcon(manager: RegistryAccess) = ItemStack(Items.${icon})
    override fun createInstance(gameHandle: MiniGameHandle) = ${instance_class_name}(gameHandle)
}
