package ${package}

import work.lclpnet.ap2.api.game.MiniGameHandle
import work.lclpnet.ap2.impl.game.TeamEliminationGameInstance

class ${class_name}(gameHandle: MiniGameHandle) : TeamEliminationGameInstance(gameHandle) {

    override fun prepare() {

    }

    override fun go() {

    }
}
