package ${package}

import net.minecraft.server.level.ServerLevel
import work.lclpnet.ap2.game.MiniGameHandle
import work.lclpnet.ap2.game.base.TeamGameInstance
import work.lclpnet.ap2.game.data.IntScoreDataContainer
import work.lclpnet.ap2.game.team.TeamManager
import work.lclpnet.game.map.GameMap

class ${class_name}(gameHandle: MiniGameHandle, level: ServerLevel, map: GameMap, teamManager: TeamManager) : TeamGameInstance(gameHandle, level, map, teamManager) {

    override val data = IntScoreDataContainer(this::createReference)

    override fun prepare() {

    }

    override fun go() {

    }
}
